{% extends 'admin/layout_admin.html.twig' %}

{% block title %}Edit Show{% endblock %}

{% block body %}
<div class="adminIndex">
    <h1>Edit Show</h1>

    {{ include('admin/representation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('representation_index') }}" class="button btn btn-secondary m-2">back to list</a>

</div>
{% endblock %}
