<footer class="container-fluid footer-user">
    <div class="footer-information">
        <a class="title">Generals Informations</a>
        <a class="text" href="#">Legals Mentions</a>
        <a class="text" href="#">Contact Us</a>
        <a class="text">Wild Circus by Me</a>
    </div>
    <div class="footer-logo">
        <img alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEwWbK-CMQEtHW_M9ivW1Ah080t6r0aEbslIAo7KDiGTuRakGflw&s">
    </div>
    <div class="footer-reseaux">
        <a class="title">Nos Réseaux</a>
        <a class="text" href="#"><i class="fab fa-facebook-square" aria-hidden="true"></i>  Facebook</a>
        <a class="text" href="#"><i class="fab fa-twitter-square" aria-hidden="true"></i>  Twitter</a>
        <a class="text" href="#"><i class="fab fa-instagram" aria-hidden="true"></i>  Instagram</a>
        <a class="text" href="#"><i class="fab fa-youtube-square" aria-hidden="true"></i>  Youtube</a>
    </div>
</footer>